---
import BaseLayout from "../layouts/BaseLayout.astro";
import MaintenanceLayout from "../layouts/MaintenanceLayout.astro";
import "../styles/global.css";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
        <main>
            <MaintenanceLayout></MaintenanceLayout>
        </main>
</BaseLayout>