---
import "../styles/global.css";
---

<nav>
    <ul class="left-nav">
        <li>
            <h1>
                <a href="/">Alex Atienza</a>
            </h1></li>
        <li>
            <button type="button" id="theme-toggle">
            </button>
            <noscript>
                <p style="color: red;">Theme toggle unavailable — JavaScript is required.</p>
            </noscript>
        </li>
    </ul>
    <picture>
        <source srcset="../media/hamburger-menu.svg" type="image/svg">
        <img src="../media/hamburger-menu-fallback.png" alt="Menu Button" loading="lazy" >
    </picture>
    <ul class="right-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>