---
import "../styles/global.css";
---
<article class="user-card">
    <picture>
        <source srcset="media/headshot-main.webp" type="image/webp">
        <img src="media/headshot-fallback.jpg" alt="Headshot of Alex Atienza">
    </picture>
    <section>
        <p>Alex Atienza is a software engineer based in San Diego.</p>
        <p>
            With roots in creative media,
            Alex has a passion for building innovative solutions that bridge technology and creativity.
        </p>
    </section>
</article>