@import url("main.css");

body {
    display: grid;
    grid-template-rows: [header] auto [main] 1fr [footer] auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    background-color: var(--primary-color);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    --font-size-large: 48px;
}

header {
    grid-area: header;
}

nav,footer {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    right: 0;
    left: 0;
    
    padding-right: 2rem;
    padding-left: 2rem;

    h1 {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        font-weight: var(--font-weight-large, var(--font-weight-fallback));
        font-size: var(--font-size-navigation, var(--font-size-fallback));
    }
}

nav {
    a:hover {
        color: var(--hover-color);
    }
    position: fixed;
    top: 0;
    background-color: var(--tertiary-color);
    height: 4rem;
    margin-bottom: 0;

    h1 {
        a {
            text-overflow: ellipsis;
            text-decoration: none;
        }
    }

    picture > img {
        display: none;
        margin: auto;
        max-width: 1.5rem;
    }

    ul.left-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 10rem;
        align-items: center;
        padding: 0;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                width: 30px;
                height: 40px;
                margin: 0;
                padding: 0;
                background: url('media/toggle-left.svg') no-repeat center;
                background-size: contain;
                border: none;
                cursor: pointer;
                transition: background-image 0.3s ease-in-out;
            }
        }
    }

    ul.right-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        li {
            display: block;

            picture > img {
                display: block;
                margin: auto;
            }

            a {
                display: block;
                text-decoration: none;
                font-weight: var(--font-weight-navigation, var(--font-weight-fallback));
                font-size: var(--font-size-navigation, var(--font-size-fallback));
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    }
}

footer {
    grid-area: footer;
    bottom: 0;
    height: 8rem;
    background-color: var(--contrast-color);

    h1, p {
        padding-left: .5rem;
        padding-right: .5rem;
        color: var(--primary-color);
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem; /* Height of Navigation Bar */
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;

    h1 {
        font-weight: var(--font-weight-large, var(--base-font-weight-fallback));
        font-size: var(--font-size-large, var(--base-font-size-fallback));
    }

    p {
        font-weight: var(--font-weight-thin, var(--font-weight-fallback));
        font-size: var(--font-size, var(--bfont-size-fallback));
    }
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 56rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 2rem;

    background-color: var(--secondary-color);
    border-radius: var(--container-border-radius);
}

.user-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    img {
        flex-grow: 1;
        max-width: 15rem;
        height: auto;
        border-radius: 50%;
    }

    section {
        text-align: center;
        flex-grow: 2;
        margin: 1rem;
    }
}

.maintenance-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 3rem;
    padding-bottom: 3rem;

    h1, p {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    a {
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    img {
        max-width: 4rem;
        height: auto;
    }

    a {
        display: block;
        border-radius: var(--button-border-radius);
        padding: .5rem 2rem .5rem 2rem;
        text-decoration: none;
        color: var(--text-color-contrast);
        background-color: var(--contrast-color);
        font-weight: bold;

        &:hover {
            background-color: var(--hover-color);
            color: var(--contrast-color);
        }
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    border-radius: var(--container-border-radius);
    background-color: var(--secondary-color);
    padding: 3rem;

    h1 {
        text-align: center;
        margin: 0;
    }

    .invalid {
        border: 2px solid red;
    }

    .error-message {
        font-weight: var(--font-weight-navigation);
        opacity: 0;
        transition: opacity 0.5s ease;
        color: red;
    }

    .error-message.show {
        opacity: 1;
    }

    .error-message.hide {
        opacity: 0;
    }
    
    form-field {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
        width: 100%;

        label {
            display: flex;
            justify-content: space-between;
            font-size: 28px;
            font-weight: var(--font-weight-navigation);
            padding: 0.5rem 0;
        }

        input,textarea {
            padding: 1rem;
            border: 2px solid var(--contrast-color);
            border-radius: 4px;
            font-size: var(--font-size);
            font-weight: var(--font-weight-thin);
        }

        textarea {
            resize: none;
            box-sizing: border-box;
            field-sizing: content;
            font-size: 16px;
            width: 100%;
            min-height: 5rem;
            max-height: 16rem;
        }

        input:focus,textarea:focus {
            outline: none;
            border: 2px solid var(--hover-color);
        }

        input:user-invalid,textarea:user-invalid {
            border: 2px solid red;
        }
    }

    #character-count {
        text-align: right;
    }

    button {
        margin-top: 2rem;
        height: 4rem;
        width: auto;
        border: none;
        border-radius: var(--button-border-radius);
        padding: .5rem 2rem .5rem 2rem;
        color: var(--primary-color);
        background-color: var(--contrast-color);
        font-size: 28px;
        font-weight: var(--font-weight-navigation);
        cursor: pointer;

        &:hover {
            background-color: var(--hover-color);
            color: var(--contrast-color);
        }
    }
}

#theme-toggle {
    display: none;
}

/* Light Theme */
#theme-toggle.light {
    background-image: url('media/toggle-left.svg');
}

#theme-toggle.light:hover {
    background-image: url('media/toggle-left-hover.svg');
}

/* Dark Theme */
#theme-toggle.dark {
    background-image: url('media/toggle-right.svg');
}

#theme-toggle.dark:hover {
    background-image: url('media/toggle-right-hover.svg');
}

/* Tablet Screen Size */
@media (max-width: 72rem) {
    main {
        article {
            width: 40rem;
        }
    }
}

/* Phone Screen Size */
@media (max-width: 56rem) {
    main {
        padding-left: 0;
        padding-right: 0;

        article,.contact-form {
            width: auto;
        }

        section {
            flex-grow: 1;
        }
    }

    .user-card {
        flex-direction: column;
    }

    nav {
        picture > img {
            display: block;
        }

        ul.right-nav {
            display: none;
        }
    }
}